img {
    width: 200px;
    height: 350px;
}

.topMenu {                  /* container for entire top section */
    display: flex;
    flex-direction: column-reverse; 
}

.descriptionContainer {     /* container for the right side */
    display: flex;
    background-color: lightblue;
}

p.description {              /* actual text inside the container on the right */
    font-style: italic;
    font-size: 2em;
}

.infoContainer {        /* container for the left side */
    display: flex;
    flex-direction: row;
    background-color: darksalmon;
    align-content: space-around;
}

.info {                 /* contents of left side */
    flex-basis: 100%;
    font-weight: bolder;
    color: black;
    align-items: center;
    display: flex;
}
/* All of the above code deals with the top section of the document */

/* All of the code below deals with the cards */

.mainContainer {
    display: flex;
    flex-direction: column;
}

.mainContainer > div {
    border: 1px solid black;
}

.swCard--list-container {
    display: flex;
}

.swCard--header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
