img.info {
    width: 200px;
    height: 300px;
}

.topMenu {
    /* container for entire top section */
    display: flex;
    flex-direction: column;
}

.descriptionContainer {
    /* container for the right side */
    display: flex;
    background-color: lightblue;
}

p.description {
    /* actual text inside the container on the right */
    font-style: italic;
    font-size: 2em;
}

.infoContainer {
    /* container for the left side */
    display: flex;
    flex-direction: row;
    background-color: lightseagreen;
    justify-content: space-around;
}

.info {
    /* contents of left side */
    color: black;
}

/* All of the above code deals with the top section of the document */

/* All of the code below deals with the cards */

.mainContainer {
    display: flex;
    flex-direction: column;
}


.swCard--list-container {
    display: flex;
    background-color: lightseagreen;

}

.swCard--header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightseagreen;
}

.swCard--header {
    text-decoration: underline;
    font-size: 1.5em;
}

h4.friendCard {
    text-align: center;
}

h4.careerCard {
    text-align: center;
}

h4.workplaceCard {
    text-align: center;
}

.introContainer {
    background-color: lightgreen;
}

.friendContainer {
    background-color: lightblue;
}

.careerContainer {
    background-color: lightgreen;
}

.workplaceContainer {
    background-color: lightseagreen;
}

.peopleContainer {
    background-color: lightgreen;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.famousPeople--header {
    text-align: center;
}

.famousPeople {
    height: 200px;
    width: 150px;
}

figcaption {
    font-weight: bold;
}

.linkContainer {
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 5px 0px 5px 0px;

}

a {
    font-size: 2em;
}

.introCard--quote {
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.introCard--list-container li {
    padding: 10px;
}

.introCard--header {
    text-align: center;
}